<div style="text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 50px;">
    <h1>Welcome {{name}},</h1>
    <p style="font-size: 15px;">Thanks for Signing up to verify your account click on verify</p>
    <a href="{{verifyUrl}}"
        style="text-decoration: none;
        color:white;
        background-color:blue;
        font-size:xx-large;
        padding:10px;
        border-radius:3px;">
        Verify
    </a>
</div>